.components{
    padding-top: 50px;
}
.MainDivHome{
   
}
.Loading{
    padding: 300px;
}
.loading-progress{
    color: #00CBF0 !important;
    background-color: #00CBF0 !important;
}
.colorPrimary{
    background: #00CBF0 !important;
    background-color: #00CBF0 !important;
    color: #00CBF0 !important;
}