
.ProjectCard{
    margin: 10px;
}
.projectName{
    padding: 10px;
    color: #00CBF0 !important;
    text-align: center !important;
}
.loading{
    justify-content: center;
    text-align: center;
    align-content: center;
}
.project-detail{
    padding: 20px !important;
}
.project-btn{
    width: 100%;
    background-color: white !important;
    color: #00CBF0 !important;
    border: 2px solid #00CBF0 !important;
}
.project-btn:hover{
    background-color: #00CBF0 !important;
    color: white !important;

}
.btn-grid{
    margin: 10px !important;
}
.project-home{
    margin-top: 40px !important;
    margin-bottom: 20px !important;
    padding: 40px;
}
.project-detail-item{
    margin: 10px;
    color: grey;
}