.App-logo {
  height: 100px;
  filter: invert(15%) sepia(80%) saturate(7419%) hue-rotate(280deg) brightness(99%) contrast(122%);
}

.App-header {
  background-color: white;
  height: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  color: white;
  flex-direction: row;
}

.dashHead{
  color: blueviolet;
  font-size: xx-large;
}

.head{
  text-align: center;
  color: black;
  font-size: xx-large;
}