.App-logo {
  height: 100px;
}

.App-header {
  background-color: white;
  height: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  color: white;
  flex-direction: row;
}

.dashHead{
  color: lightseagreen;
  font-size: xx-large;
}

.head{
  text-align: center;
  color: lightseagreen;
  font-size: xx-large;
}